.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}
.containerdash {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 98%;
  border-radius: 20px;
  background: rgba(240, 240, 240, 0.85);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.container-content{
  display: flex;
  width: -webkit-fill-available;
  height: 100%;
}
