.container-sidebar {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 8%;
  transition: width 0.5s;
  height: 100%;
  background: rgb(255, 255, 255, .4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.container-sidebar:hover {
  width: 15%;
  transition: 0.5s;
}
.sidebar-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  transition: height 0.2s;
}
.sidebar-logo-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: rgba(200, 200, 200, 0.2);
    transition: all 0.2s;
}
.sidebar-logo-circle img{
    width: 100%;
}
.sidebar-logo h1 {
  font-size: 18px;
  color: #000;
  margin: 0;
  transition: display 0.2s;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.profile img {
  height: 70%;
}
.profile:hover img{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.profile h1 {
  font-size: 14px;
  color: #000;
  margin: 0;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
}
.sidebar-menu-sesion {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12%;
}
.sidebar-title {
  display: flex;
  height: 12%;
  font-size: 18px;
  font-weight: 600;
  color: #03658C;
  align-items: center;
  justify-content: center;
}
.sidebar-menu-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12%;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.sidebar-menu-item-sesion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56%;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.sidebar-menu-item-sesion:hover {
  background: rgb(3, 166, 166);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.sidebar-menu-item-sesion:hover span{
  color: #fff;
}
.sidebar-menu-item-sesion:hover svg{
  color: #fff;
}
.sidebar-menu-item:hover {
  background: rgb(3, 166, 166);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-menu-item:hover span{
  color: #fff;
}
.sidebar-menu-item:hover svg{
  color: #fff;
}
.sidebar-menu-item-sesion span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.sidebar-menu-item span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.sidebar-menu-item-sesion svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #000;
}
.sidebar-menu-item svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #000;
}
.collapsible-item {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 100%;
}
.collapsible-header {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.collapsible-header:hover {
  background: rgb(3, 166, 166);
  border: none;
  cursor: pointer;
}
.collapsible-header:hover span{
  color: #fff;
}
.collapsible-header:hover svg{
  color: #fff;
}
.collapsible-header svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #000;
}
.collapsible-header span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.collapsible-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(171, 222, 202);
  overflow: hidden;
  transition: all 0.3s ease;
}
.collapsible-body-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
}
.collapsible-body-item:hover {
  background: #B3F2E7;
  width: 100%;
  cursor: pointer;
}
.collapsible-body-item span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.collapsible-body-item svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  color: #000;
}
