/* AppointmentCalendarPage.css */
.appointment-calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.appointment-calendar-header {
  display: flex;
  width: 100%;
  height: 8%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}
.appointment-calendar-body {
  display: flex;
  width: 100%;
  height: 92%;
}
.appointment-schedule {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 1%;
}
.appointment-schedule-header {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 5%;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 65%;
  height: -webkit-fill-available;
}
.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.calendar-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5%;
}
.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 100%;
  align-items: center;
  padding: 10px;
}
.calendar-header span {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.calendar-header span > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  outline: none;
  text-align: center;
  cursor: pointer;
}
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  width: 100%;
  text-align: center;
  transition: height 0.5s ease-in-out;
}

.calendar-day {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.calendar-day:hover {
  background-color: #f0f0f0;
}
.calendar-day.selected {
  border: 2px solid #2bd8b5;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 10%,
    rgba(209, 253, 246, 0.9) 90%
  );
}
